* {
  box-sizing: border-box;
  font-size: 18px;

}
.box-content-wrap h6 a {
  font-size: 22px;
  font-weight: 700;
}
.advertisement-wrap {
  width: 44em;
  transform: translate(45px, 54px);
  text-align: left;
}
.advertisement-contain a {
  color: #fff !important;
}

ul.nb-nav_list {
  display: inline-block;
  list-style: none;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  padding: 0;
  width: 60%;
  margin: auto;
}

ul.nb-nav_list i {
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.nb-nav_list li {
  background-color: #fff;
}

ul.nb-nav_list li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.3s ease-in;

  transform: translateY(10px);
  opacity: 0;
}

ul.nb-nav_list li:nth-child(2) {
  transition: all 0.4s ease-in;
  transform: translateY(10px);
  opacity: 0;
}

ul.nb-nav_list li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.5s ease-in;
  transform: translateY(10px);
  opacity: 0;
}

.nb-nav {
  position: r;
  position: relative;
  position: relative;
  top: 46%;
}

.nb-nav-wrap {
  position: absolute;
  background: transparent;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: background 0.2s;
}

.newsUnique-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-template-rows: repeat(2, auto);
}

.nb_img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nb_content {
  margin-top: 10px;
  padding: 10px;
}

.news-box_wrap {
  border-radius: 10px;
  border: 1px solid gray;
  position: relative;
}

.news-box {
  width: 100%;
}

.news-box:hover .nb-nav_list li {
  transform: translateY(0px);
  opacity: 1;
}

.news-box:hover .nb-nav-wrap {
  background: #11111170;
}

a {
  text-decoration: none !important;
}
.icon-header {
  margin-left: 2em
}
.icon-header i.far.fa-newspaper {
  transform: translateY(10px);
}
.editNews {
  transform: translate(-3px, -40px);
  position: absolute;
  right: 0;
}
.find-news p{
  margin-bottom: 0
}
.admin-container form,
.admin-container button.addItems-btn {
  margin: 0 auto 2em;
  display: block;
}
.box-content-wrap a {
  color: #111111b8;
}
.body-left-box-wrap {
  position: sticky;
  top: 15px;
  left: 0;
  text-align: left;
  padding-right: 15px;
  padding-top: 0.4em;
  padding-left: 1.2em;
}
button.deleteNews.btn.btn-danger {
  position: absolute;
  right: 0;
}
.latest_content {
  position: relative;
  margin-bottom: 2em;
  border: 2px solid #1111111c;
  border-radius: 5px;
}

.container-body-latest_blog {
  width: 1068px;
  margin: 0 auto;
}

.latest_blog {
  padding-top: 44px;
  padding-bottom: 40px;
}

.clear {
  clear: both;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 0.75em !important;
  width: 100%;
  height: 100%;
}
button:focus {
  outline: none;
}

h1 a {
  color: #111;
  text-decoration: none;
}

.best-deals-box {
  height: auto;
}

.advertisement {
  clear: both;
  height: 16em;
  background: #fcc90e;
  max-width: 1240px;
  margin: auto;
}
.advertisement-contain p {
  color: #fff;
  font-size: 1.2em;
}
.best-deals {
  margin-top: 62px;
  height: auto;
}

.best-deals-box-wrap:not(:nth-child(1)) {
  margin-left: 4.3%;
}

.best-deals-box-img {
  position: relative;
  width: 100%;
  height: 15em;
}
/* ----------------------------------------------
   * Generated by Animista on 2020-3-4 19:1:44
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.best-deals-box-wrap {
  width: 30.3%;
  float: left;
}

.best-deals-box-img a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.best-deals-box-wrap:nth-child(1) .best-deals-box-img a {
  background: url("images/30-2-696x660.jpg");
  background-size: cover;
  background-position: 50%;
}

.best-deals-box-wrap:nth-child(2) .best-deals-box-img a {
  background: url("images/28-2-696x421.jpg");
  background-size: cover;
  background-position: 50%;
}

.best-deals-box-wrap:nth-child(3) .best-deals-box-img a {
  background: url("images/29-2-696x463.jpg");
  background-size: cover;
  background-position: 50%;
}

.owl-two .owl-nav {
  text-align: left !important;
}

.box-content-wrap {
  display: inline-block;
  margin: auto 0;
  font-family: Lato !important;
  padding: 15px;
  text-align: left;
}

.box-content-wrap h2 {
  margin-top: 0px;
  margin-bottom: 7px;
  font-family: "Oswald";
}

.popular-reviews-box-content:hover a {
  color: #fcc90e;
}

h2 a {
  color: #000;
  text-decoration: none;
}
.container-body img {
  max-width: 100%;
  max-height: 100%;
}
.box-content-wrap span {
  color: #cacaca;
  display: inline-block;
  margin-right: 10px;
}

.box-content-wrap span i {
  color: #fcc90e;
}

.popular-reviews-box-content {
  height: 15em;
  width: 65%;

  display: flex;
  padding: 0 1em;
  background-color: #ffffff;
  overflow-y: auto;
}

.popular-reviews-box-content p,
.box-content-wrap p {
  color: #999;
  margin-top: 1.5em;
}
.latest_content img {
  width: 100%;
  height: 100%;
}
.find-news input {
  transform: translateY(-4px);
  margin-right: 1em;
  padding: 5px;
  border-radius: 5px;
  height: 2em;
}
.find-news a {
  color: #fff;
}
a.img-box {
  width: 35%;
  float: left;
  /* background: url("images/24-2-696x514.jpg"); */
  height: 15em;
  background-position: 50%;
  background-size: cover;
}

a.span_hover_move {
  font-weight: 600;
  color: #999;
  text-decoration: none;
}

a.span_hover_move:hover i {
  margin-left: 15px;
}

a.span_hover_move span {
  display: inline-block;
  transform: translateY(8px);
}

a.span_hover_move i {
  font-size: 1.5em;
  display: inline-block;
  transform: translateY(3px);
  margin-left: 10px;
  transition: margin 0.2s linear;
}

.popular-reviews-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.popular-reviews-header h1 {
  font-family: Lato !important;
}

.span_hover_move a {
  color: #999;
  text-decoration: none;
  display: inline-block;
}

.span_hover_move a span {
  transform: translateY(10px);
}

.newsletter-left-box p {
  font-family: Lato !important;
  color: #727268;
  margin-top: 15px;
}

.newsletter-left-box input {
  padding: 10px;
  border: 1px solid #99999954;
  font-family: lato !important;
  border-radius: 5px;
  margin-bottom: 13px;
  width: 100%;
}

.newsletter-left-box button,
.dangnhap input[type="submit"] {
  width: 100%;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 17px;
  font-family: lato !important;
  cursor: pointer;
  transition: all 0.4s ease;
}
.dangnhap input[type="submit"] {
  padding: 5px 10px;
}
.newsletter-left-box button:hover,
.dangnhap input[type="submit"]:hover {
  background: #111;
  color: #fff;
}

.categories-contain h3,
.newsletter-left-box h3 {
  color: #999999;
  margin-bottom: 25px;
}

ul.list-categories {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  font-family: Lato !important;
  margin-top: 15px;
}

ul.list-categories a {
  display: inline-block;
  color: #111;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 15px;
}
.body-right-box a,
.body-right-box a span {
  color: #1119;
}
a {
  transition: color 0.2s ease;
}

ul.list-categories a:hover,
.nav-container nav a:hover,
.box-content-wrap a:hover {
  color: #fcc90e;
}
.advertisement-contain a:hover {
  color: #fff;
}
.body-right-box {
  width: 75%;
  padding: 0 10px 0 40px;
}

.body-left-box {
  width: 25%;
}

.container-body {
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
}

.nav_container {
  display: flex;
   transition: all 500ms ease-out;
    max-width: 1240px;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #111111e0;
    height: auto;
    align-items: center;
}

.nav-container {
  position: relative;
  max-width: 1240px;
  margin: auto;
}
.nav-content li {
  line-height: 3em;
}
.nav-container nav {
  text-transform: uppercase;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  margin-left:2em;
}
.nav-container ul {
  padding: 0;
  margin-bottom: 0
}
.nav-container nav a {
  color: #fff;
  text-decoration: none;
}

.nav-container nav li:not(:first-child) {
  margin-left: 2em;
}

.nav_container * {
  display: inline-block;
}

.find-news button {
  color: #fff;
  background: transparent;
  border: 0px solid #fff;
  font-size: 1.7em;
  line-height: 2em;
  cursor: pointer;
}

.find-news button:focus {
  outline: none;
}

h3,
h4,
h5 {
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.row {
  width: auto !important;
  max-width: 1240px;
  margin: 0 auto;
}
.header {
  position: relative;
  margin-bottom: 32px;
}
.h-s-content-container {
  position: absolute;
  bottom: 5em;
  color: #ffffff;
  width: 65%;
  left: 50%;
  transform: translateX(-50%);
  height: 225px;
  text-align: left;
}

.header .owl-one .owl-nav i {
  font-size: 5em;
}
.h-s-content-container span {
  background: #111;
  padding: 5px 10px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.owl-one.owl-carousel.owl-theme.owl-loaded.owl-drag:hover
  .h-s-content-container
  span {
  background: #fcc90e;
  color: #111;
}
.h-s-content-container h1 {
  font-size: 3em;
  margin-top: 15px;
}
.header .slider .owl-one .item.one .img-background {
  background: url("images/5-2-1920x1281.jpg");

  background-size: cover;

  background-position: 50%;
}
.header .slider .owl-one .item.two .img-background {
  background: url("images/1-2-1920x1287.jpg");
  background-size: 100% 100%;
}
.header .slider .owl-one .item.three .img-background {
  background: url("images/28-2-1920x1162.jpg");
  background-size: 100% 100%;
}
.header button.owl-next {
  position: absolute;
  right: 0;
  height: 39em;
  top: 0;
}
.header button.owl-prev {
  position: absolute;
  left: 0;
  height: 39em;
  top: 0;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent !important;
}
.img-background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(3, 8, 38, 0.8),
    rgba(140, 30, 39, 0.7) 73%,
    rgba(140, 30, 39, 0.9) 93%,
    rgba(140, 30, 39, 0.85)
  );
  background: linear-gradient(
    0deg,
    rgba(3, 8, 38, 0.8),
    rgba(140, 30, 39, 0.7) 73%,
    rgba(140, 30, 39, 0.9) 93%,
    rgba(140, 30, 39, 0.85)
  );
}
.owl-two button:hover i {
  color: #111;
}
.dangnhap-container {
  max-width: 500px;
  border-radius: 5px;
  text-align: center;
  margin: 10% auto;
}

.panel-editNews {
  display: block;
  padding: 50px 50px 0px;
}
/* width */
.popular-reviews-box-content::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

/* Track */
.popular-reviews-box-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.popular-reviews-box-content::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 10px;
}
.nb-nav_list a,
.nb-nav_list p {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  color: #111;
}
.nb-nav_list a:hover,
.nb-nav_list p:hover {
  color: #fcc90e;
}
/* Handle on hover */
.popular-reviews-box-content::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.face-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
.adminEdit-container {
  transition: all 1000ms ease-in;
}
.nb-nav_list p {
  margin: 0;
}
p {
  word-wrap: break-word;
}
.luutru-tin-block {
  background-color: #111;

  width: 100%;
  height: 100%;
}
.modal-body {
  width: 100%;
  height: 100%;
}
.modal-body img {
  width: 100% !important;
  height: 100% !important;
}
.body-right-box p p {
  text-align: left;
}
.find-news a:hover {
  color: #dc3545;
}
.space {
  height: 21px;
}
/* .body-right-box.tintuckho {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-template-rows: repeat(2, auto);
} */
.find-news li {
  margin-left: 20px;
  font-size: 1.4em;
}
.slick-slide div:focus {
  outline: none;
  border:none;
}
.slick-slide div:active {
  outline: none;
  border:none;
}
.slick-next{
  right:0px !important;
}
.slick-prev{
  left:0px !important;
}
.slideForHead{
  max-width:100%;
  height:16em;
  background-image:url("images/Banner-giakhang.png");
  background-size:100% 100%;
}
.slideForHead-1{
  max-width:100%;
  height:16em;
  background-image:url("images/tin-tuc-news-haingancamera.jpg");
  background-size:100% 100%;
}

.slideForHead-2{
  max-width:100%;
  height:16em;
  background-image:url("images/thumb.jpg");
  background-size:100% 100%;
}
/*logo*/
.social a {
  font-size: 30px;
  padding: 8px;
}

.fa-facebook-square{
color: #300AD6;

}
.fa-twitter-square{
color: #00aced;
}
.fa-google-plus{
color: #F9AEB3;
}
.fa-instagram{
color: #26B9C9;
}
.fa-youtube-play{
color:#E00B0E;
}

@media only screen and (max-width: 52.96552em) {
  .icon-header{
    margin-left:0 !important;
  }
  .icon-header i.far.fa-newspaper{
    display: block
  }
  .nav_container{
    flex-direction: column;
    justify-content: start;
    padding:0.5em 0;
  }
  .find-news{
    margin-top:0.5em;
  }
  .nav-container nav{
    margin-left:0;
    margin-top:1em;
        border-bottom: 1px solid #fff;
  }
  *{
    font-size: 1em;
  }
 .news-box h5{
    font-size:1em !important;
    font-weight: 700 !important;
  }
.body-right-box {
  
  padding: 0 10px 0 10px;
}
  .body-left-box{
    width:100%;
  }
  .body-right-box{
    width:100%;
  }
  .container-body{
    flex-direction: column;
  }
}
